@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
    
}
body{
    background-image: url(https://images.unsplash.com/photo-1565419672978-6ba05e8859d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=977&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.header_img{
    width: 50vw;
    border-radius: 50%;
}
h1{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 4em;
    font-family: 'Phudu', cursive;
}
.line{
    height: 5px;
    width: 100%;
    background-color: white;
    margin-bottom: 25px;
}
.recipe_row{
    display: flex;
    justify-content: space-around;

}

li{
    list-style-type: none;
    position: relative;
    margin-bottom: 50px;
}

.recipe_card{
    width: 23vw;
    height: 500px;
    border-radius: 25px;
    border: 1px solid lightgray;
    z-index: 0;

}

.recipe_card:hover{
    filter: drop-shadow(0 0 20px white);
}
a{
    text-align: center;
    text-decoration: none;

}
 h4{
    margin-top:-90px;
     color:white;
    font-size: 30px;
    z-index: 30;
    font-family: 'Phudu', cursive;
   
 }

 /* Recipe Pages */

 .wrapper{
     margin: 50px;
     background-color: white;
    border-radius: 25px;
 }
 .description{
     padding: 100px;
 }
 .description>h1{
     color: black;
 }

 .intro{
     display: flex;
 }
 .intro>img{
     margin: 50px;
     border-radius: 50px;
     width: 400px;
     height: 700px;
 }
 .line.black{
     margin: 15px 0;
     background-color: rgb(165, 158, 148);
 }
 .ingredients{
     color: black;
     display: flex;
     flex-direction: column;
     align-items: center;
    
 }
 .ingredients>h2{
     padding: 10px;
 }
 .ingred>li{
    list-style-type:circle;
    position:unset;
    margin-bottom: 0px;
 }
 .multi>h3{
     font-weight: 600;
     text-decoration: underline;
     text-align: center;
 }
 .multi-wrapper{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 .steps>h2{
    padding: 10px;
}
.step>li{
    list-style-type:decimal;
    position:unset;
    margin-bottom: 0px;
}

/* Return */
.return{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.return>h2{
    text-align: center;
    color: darkgrey;
    background-color: white;
    padding: 15px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid gray;
    filter: drop-shadow(0 0 15px);
}
.return>h2:hover{
   background-color: grey;
   color:white;
}